<p id="notice"><%= notice %></p>

<p>
  <b>Uid:</b>
  <%= @feedback.uid %>
</p>

<p>
  <b>Url:</b>
  <%= @feedback.url %>
</p>


<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
